.header {
    @include setFlex(row, space-between);
    background-color: $header-color;
    font-size: small;
    font-weight: 300;
    padding: 0.15rem 5%;
    &-top-left {
      display: flex;
      gap: 2rem;
      margin-left: 5%;
    }
    &-top-right {
      @include setFlex (row, space-between);
      align-items: center;
      gap: 2em;
      margin-right: 5%;
    }
  }